<p>
  date-component works!
</p>
<div class="row example-wrapper" style="min-height: 450px;">
  <div class="col-xs-12 col-md-6 example-col">
    <p>DateInput</p>
    <kendo-dateinput [value]="value"></kendo-dateinput>
    <p>(use <code>←</code> and <code>→</code> to navigate, <code>↑</code> and <code>↓</code> to update)</p>

    <p>DatePicker</p>
    <kendo-datepicker [value]="value"></kendo-datepicker>
    <p>(use <code>Alt</code>+<code>↓</code> to open the Calendar)</p>

    <p>TimePicker</p>
    <kendo-timepicker [value]="value"></kendo-timepicker>
    <p>(use Alt+↓ to open the time list, Tab to move to the next time section in the popup, ↑ to increment and ↓ to decrement the value)</p>
  </div>
  <div class="col-xs-12 col-md-6 example-col">
    <p>Calendar</p>
    <kendo-calendar [value]="value"></kendo-calendar>
  </div>
</div>
